@font-face {
	font-family: 'servermock';
	src:url('fonts/servermock.eot?t2y3i3');
	src:url('fonts/servermock.eot?t2y3i3#iefix') format('embedded-opentype'),
		url('fonts/servermock.ttf?t2y3i3') format('truetype'),
		url('fonts/servermock.woff?t2y3i3') format('woff'),
		url('fonts/servermock.svg?t2y3i3#servermock') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'servermock';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
	content: "\e900";
}
.icon-profile:before {
	content: "\e901";
}
.icon-file-empty:before {
	content: "\e902";
}
.icon-files-empty:before {
	content: "\e903";
}
.icon-file-text2:before {
	content: "\e904";
}
.icon-file-picture:before {
	content: "\e905";
}
.icon-file-music:before {
	content: "\e906";
}
.icon-file-play:before {
	content: "\e907";
}
.icon-file-video:before {
	content: "\e908";
}
.icon-file-zip:before {
	content: "\e909";
}
.icon-copy:before {
	content: "\e90a";
}
.icon-paste:before {
	content: "\e90b";
}
.icon-user:before {
	content: "\e90c";
}
.icon-user-plus:before {
	content: "\e90d";
}
.icon-user-minus:before {
	content: "\e90e";
}
.icon-user-check:before {
	content: "\e90f";
}
.icon-user-tie:before {
	content: "\e910";
}
.icon-file-pdf:before {
	content: "\e911";
}
.icon-file-openoffice:before {
	content: "\e912";
}
.icon-file-word:before {
	content: "\e913";
}
.icon-file-excel:before {
	content: "\e914";
}
.icon-libreoffice:before {
	content: "\e915";
}
.icon-file-directory:before {
	content: "\f016";
}
.icon-file-submodule:before {
	content: "\f017";
}
.icon-file-symlink-directory:before {
	content: "\f0b1";
}
.icon-file-text3:before {
	content: "\f011";
}

