@font-face {
	font-family: 'servermock';
	src:url('fonts/servermock.eot?xmbimr');
	src:url('fonts/servermock.eot?xmbimr#iefix') format('embedded-opentype'),
		url('fonts/servermock.ttf?xmbimr') format('truetype'),
		url('fonts/servermock.woff?xmbimr') format('woff'),
		url('fonts/servermock.svg?xmbimr#servermock') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'servermock';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-number:before {
	content: "\e916";
}
.icon-number2:before {
	content: "\e917";
}
.icon-number3:before {
	content: "\e918";
}
.icon-number4:before {
	content: "\e919";
}
.icon-number5:before {
	content: "\e91a";
}
.icon-number6:before {
	content: "\e91b";
}
.icon-number7:before {
	content: "\e91c";
}
.icon-number8:before {
	content: "\e91d";
}
.icon-number9:before {
	content: "\e91e";
}
.icon-number10:before {
	content: "\e91f";
}
.icon-number11:before {
	content: "\e920";
}
.icon-number12:before {
	content: "\e921";
}
.icon-number13:before {
	content: "\e922";
}
.icon-number14:before {
	content: "\e923";
}
.icon-number15:before {
	content: "\e924";
}
.icon-number16:before {
	content: "\e925";
}
.icon-number17:before {
	content: "\e926";
}
.icon-number18:before {
	content: "\e927";
}
.icon-number19:before {
	content: "\e928";
}
.icon-number20:before {
	content: "\e929";
}
.icon-reply:before {
	content: "\e92a";
}
.icon-forward:before {
	content: "\e92b";
}
.icon-arrow-back:before {
	content: "\e92c";
}
.icon-media-rewind:before {
	content: "\e92d";
}
.icon-file-text:before {
	content: "\e900";
}
.icon-profile:before {
	content: "\e901";
}
.icon-file-empty:before {
	content: "\e902";
}
.icon-files-empty:before {
	content: "\e903";
}
.icon-file-text2:before {
	content: "\e904";
}
.icon-file-zip:before {
	content: "\e909";
}
.icon-copy:before {
	content: "\e90a";
}
.icon-user:before {
	content: "\e90c";
}
.icon-user-plus:before {
	content: "\e90d";
}
.icon-user-minus:before {
	content: "\e90e";
}
.icon-user-check:before {
	content: "\e90f";
}
.icon-user-tie:before {
	content: "\e910";
}
.icon-file-directory:before {
	content: "\f016";
}
.icon-file-symlink-directory:before {
	content: "\f0b1";
}
.icon-file-text3:before {
	content: "\f011";
}
.icon-star:before {
	content: "\f02a";
}

