$icon-number: "\e916";
$icon-number2: "\e917";
$icon-number3: "\e918";
$icon-number4: "\e919";
$icon-number5: "\e91a";
$icon-number6: "\e91b";
$icon-number7: "\e91c";
$icon-number8: "\e91d";
$icon-number9: "\e91e";
$icon-number10: "\e91f";
$icon-number11: "\e920";
$icon-number12: "\e921";
$icon-number13: "\e922";
$icon-number14: "\e923";
$icon-number15: "\e924";
$icon-number16: "\e925";
$icon-number17: "\e926";
$icon-number18: "\e927";
$icon-number19: "\e928";
$icon-number20: "\e929";
$icon-reply: "\e92a";
$icon-forward: "\e92b";
$icon-arrow-back: "\e92c";
$icon-media-rewind: "\e92d";
$icon-file-text: "\e900";
$icon-profile: "\e901";
$icon-file-empty: "\e902";
$icon-files-empty: "\e903";
$icon-file-text2: "\e904";
$icon-file-picture: "\e905";
$icon-file-music: "\e906";
$icon-file-play: "\e907";
$icon-file-video: "\e908";
$icon-file-zip: "\e909";
$icon-copy: "\e90a";
$icon-paste: "\e90b";
$icon-user: "\e90c";
$icon-user-plus: "\e90d";
$icon-user-minus: "\e90e";
$icon-user-check: "\e90f";
$icon-user-tie: "\e910";
$icon-file-pdf: "\e911";
$icon-file-openoffice: "\e912";
$icon-file-word: "\e913";
$icon-file-excel: "\e914";
$icon-libreoffice: "\e915";
$icon-file-directory: "\f016";
$icon-file-submodule: "\f017";
$icon-file-symlink-directory: "\f0b1";
$icon-file-text3: "\f011";
$icon-star: "\f02a";
